.edit-icon {
    background-color: white;
    border: 1px solid green;
    border-radius: 5px;
    padding: 5px 2px 5px 5px;
    margin-right: 5px;
}

.edit-icon:hover {
    background-color: #28a745;
    color: rgb(255, 255, 255);
}

.trash-icon {
    background-color: white;
    border: 1px solid #dc3545;
    border-radius: 5px;
    padding: 5px;
}

.trash-icon:hover {
    background-color: #dc3545;
    color: rgb(255, 255, 255);
}

.product-img {
    width: 80px;
}


/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 300.98px) and (max-width: 575.98px) {
    .table {
        /* width: 500px !important; */
        /* overflow-x: scroll !important; */
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 575.98px) and (max-width: 767.98px) {
    .product-img {
        /* width: 80px; */
    }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 767.98px) and (max-width: 991.98px) {
    .product-img {
        /* width: 80px; */
    }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 991.98px) and (max-width: 1199.98px) {}

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 991.98px) and (max-width: 1399.98px), (min-width: 1399.98px) and (max-width: 2000px) {}