/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 300.98px) and (max-width: 899.98px) {
    .MuiPaper-elevation {
        /* border: 1px solid green; */
        top: 80px;
        width: 100%;
    }

    .MuiMenu-list {
        /* border: 1px solid; */
        width: 80px;
        margin: 0 auto !important;
    }
}