.form-control {
    margin-top: 5px;
    height: 40px;
    box-shadow: none;
}

.addProduct-form {
    margin: 0 auto;
    padding: 0px 0;
    font-size: 15px;
}

.addProduct-form h2 {
    color: #000000;
    font-weight: 700;
    margin: 0 0 15px;
    text-align: center;
    font-size: 40px;
}

.addProduct-form form {
    /* position: relative; */
    height: 400px;
    color: rgb(0, 0, 0);
    border-radius: 3px;
    margin-bottom: 15px;
    background: #f2f3f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 40px;
}

.addProduct-form .form-group {
    margin-bottom: 20px;
}

.col p {
    margin-bottom: 3px;
}

#upload-pic-btn {
    border: 2px solid #1b5e20;
    background-color: #dcffec;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#upload-pic-btn:hover {
    background-color: #1b5e20;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#add-product-btn {
    border: none;
    background-color: #1b5e20;
    text-align: end;
    margin-bottom: 20px;
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    position: absolute;
    right: 13%;
}

#add-product-btn:hover {
    border: 2px solid #1b5e20;
    background-color: white;
    /* text-align: end; */
    /* margin-bottom: 20px; */
    /* padding: 10px 20px; */
    color: rgb(0, 0, 0);
    /* font-weight: 700; */
    /* border-radius: 5px; */
    /* position: absolute; */
    /* right: 13%; */
}

/*  */
.first-row, .second-row {
    margin-top: 3em !important;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 300.98px) and (max-width: 767.98px) {
    .addProduct-form {
        width: 100% !important;
    }

    .addProduct-form h2{
        font-size: 30px;
    }

    .addProduct-form form {
        /* border: 1px solid green; */
        padding: 20px;
        /* width: 100% !important; */
        height: 530px;
    }

    .addProduct-form .col {
        flex: auto;
    }

    .addProduct-form label {
        margin-top: 1em;
    }

    .addProduct-form input {
        /* width: 100%; */
    }

    #upload-pic-btn {
        margin-top: 0;
    }

    .first-row, .second-row {
        margin-top: 0 !important;
    }

    .addProduct-form p {
        margin-top: 1em;
    }

    #add-product-btn{
        /* margin: 0 auto !important; */
        /* right: 50%; */
        margin-top: 20px;
        margin-bottom: 0;
        position: static;
    }
    .add-product-btn-div{
        /* margin: 0 auto ; */
        /* border: 1px solid red; */
        /* width: 200px; */
        text-align: center;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 575.98px) and (max-width: 767.98px) {
    .addProduct-form h2{
        font-size: 35px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 767.98px) and (max-width: 991.98px) {}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 991.98px) and (max-width: 1199.98px) {}

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 991.98px) and (max-width: 1399.98px), (min-width: 1399.98px) and (max-width: 2000px) {}

/* @media (min-width: 300.98px) and (max-width: 767.98px) {
    .addProduct-form {
        width: 100%;
        position: absolute;
        z-index: -1;
        margin-top: .6em;
        border: 1px solid red;
    }

    .addProduct-form h2 {
        font-size: 35px;
        margin-bottom: 1.5em;
    }

    .addProduct-form form {
        width: 100%;
        margin: auto 0;
    }

    .addProduct-form input, .addProduct-form textarea, #upload-thumbnail-btn {
        width: 100%;
    }

    .addProduct-form {
        width: 90%;
        height: 570px;
        margin: 0 auto;
    }

    .addProduct-form h6 {
        font-size: 16px;
        margin-top: 2em;
    }

    .textarea-label {
        margin-top: 2em;
    }

    .addProduct-form img {
        display: none;
    }
} */